<h2></h2>

<div class="pt-5 text-center">
  <h2 class="pl-5">Formulaire pour edit une lecture</h2>
  <%# <img class="d-block mx-auto mb-4" src="https://res.cloudinary.com/cb-dev/image/upload/v1610904406/buddiest/smile-icon.png" alt="" width="72" height="72"> %>
</div>


 <div class="row no-gutter">
      <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex">
    </div>
      <!-- The content half -->
    <div class="col-md-6">
      <div class="login d-flex align-items-center">
      <!-- Demo content-->
          <div class="row">
            <div class="col-lg-11 col-xl-10">
              <%= simple_form_for(@lecture) do |f| %>
                <%= f.input :title, input_html: { class: "offer-bar" } %>
                <%= f.input :description, label: "Description", as: :text, input_html: { class: "offer-bar" } %>
                <%= f.input :photo, as: :file, label: "Miniature de l'offre" %>
                <%= f.input :category, label: "Categorie de votre lecture", collection: ["Art", "Developpement", "Gastronomie", "Langue", "Musique", "Photo & video", "Gaming", "Beauté", "Culture générale", "Nature"] %>
                <%= f.submit "Sauvegarder", class: "btn btn-green mt-4" %>
              <% end %>
              </div> <!-- fin form simple form -->
            </div> <!-- fin col lg 10 col xl 7 -->
        </div><!-- fin container -->
      </div> <!-- fin div login -->
    </div><!-- fin col md 6 bg light -->
<!-- fin container fluid -->
