<div class="margin-left">
  <div class="card-category" style=
          "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(<%= @lecture.photo.attached? ? cl_image_path(@lecture.photo.key, crop: :scale)
          : "https://source.unsplash.com/300x150/?#{@lecture.category}" %>">
            <h1><%= @lecture.title.upcase %></h1>
  </div> <!-- card category -->


  <div class="pl-5">

    <h3 class="text-center"><i class="fas fa-graduation-cap"></i> Modifier votre cours "<%= @lecture.title %>"</h3>
      <div class="text-center mt-1">
        <%= link_to edit_lecture_path(@lecture, anchor: "chapter"), class: "link-add-chapter-lecture-right" do %>
          <span><i class="far fa-bookmark"></i> Aller aux chapitres</span>
        <% end %> <!-- end of anchor chapter -->

        <%= link_to lecture_path(@lecture), method: "DELETE", data: { confirm: "Supprimer définitivement le cours #{@lecture.title} et les chapitres associés?" }, class: "ml-3 link-remove-lecture-right" do %>
          <span><i class="far fa-trash-alt"></i> Supprimer ce cours</span>
        <% end %> <!-- end of anchor chapter -->

      </div> <!--text center pour button got to chapitre-->
        <br>
        <div class="p-5">
            <%= simple_form_for(@lecture) do |f| %>
              <%= f.input :title, input_html: { class: "offer-bar" }, label: "Titre" %>
              <%= f.input :description, label: "Description", as: :text, input_html: { class: "offer-bar" }, label: "Description" %>
              <%= f.input :photo, as: :file, label: "Miniature de l'offre", label: "Choisir une nouvelle photo", class:"btn button-blue" %>
              <%= f.input :category, label: "Categorie", as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'},
                  collection: Lecture::CATEGORY %>
              <%= f.submit "Sauvegarder", class: "btn button-blue" %>
            <% end %>
        </div> <!-- form to edit-->

      <div class="mt-4">
        <h3 class="mt-5 pt-5 text-center" id="chapter"><i class="fas fa-bookmark"></i> Liste des chapitres</h3>
          <% if @lecture.blocks.empty? == false %>
            <div class="mt-4">
                <%= link_to new_lecture_block_path(@lecture, @block), class: "link-add-chapter-lecture-right" do %>
                  <li><i class="fas fa-plus-circle"></i> Ajouter un chapitre</li>
                <% end %> <!-- end of button new chapter-->
              </div> <!-- button text center-->
            <ul class="grid">
              <% @lecture.blocks.each_with_index do |block, index|%>
              <div class="card-dashboard d-flex justify-content-around flex-column">
                <div class="d-flex justify-content-between">
                  <h5><strong>Chapitre <%= index + 1 %></strong></h5>
                  <div>
                    <!-- Button trigger modal edit block -->
                    <%= link_to edit_lecture_block_path(@lecture, block), { :class => "link-add-chapter-lecture-right", 'data-toggle' => 'modal', 'data-target' => "#editBlock" } do %>
                      <span>  <i class="far fa-edit mr-2"></i></span>
                    <% end %> <!-- edit block end -->
                    <!--Modal pour edit block -->
                    <!-- Edit block-->
                    <!-- la deuxieme valeur des locals, c'est la valeur qu'on a dans le fichier ou vous lisez ce commentaire. La premiere valeurr, c'est la variable qu'on va utiliser dans le render. -->
                    <%= render partial:'blocks/shared/edit', locals: { block: block, lecture: @lecture } %>
                    <span>  <i class="far fa-trash-alt"></i></span>
                  </div>
                </div>
              <li><%= block.title %></li>
              <li>
                <% if block.block_type == "Podcast" %>
                  <i class="fas fa-headphones-alt"></i> <%= block.block_type %>
                <% elsif block.block_type == "Video" %>
                  <i class="fas fa-video"></i> <%= block.block_type %>
                <% elsif block.block_type == "Text" %>
                  <i class="far fa-file-alt"></i> <%= block.block_type %>
                  <% elsif block.block_type == "Live" %>
                  <i class="fas fa-podcast"></i><%= block.block_type %>
                <% end %>
              </li>
              </div>
              <% end %> <!-- end of each block-->
            </ul>
          <% else %>
            <h5 class="text-center">Aucun chapitre pour le moment</h5>
              <div class="text-center mt-1">
                <%= link_to new_lecture_block_path(@lecture, @block), class: "link-add-chapter-lecture-right" do %>
                  <span><i class="fas fa-plus-circle"></i> Ajouter un chapitre</span>
                <% end %> <!-- end of add chapter -->
              </div> <!-- text center mt1-->
          <% end %> <!-- end of if block empty -->
        </div> <!--col 4-->

</div> <!--margin-left -->


