

<div class="background margintop">

  <div class="card-category" style=
        "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(<%= @lecture.photo.attached? ? cl_image_path(@lecture.photo.key, crop: :scale)
        : "https://source.unsplash.com/300x150/?#{@lecture.category}" %>">
          <h1><%= @lecture.title.upcase %></h1>
  </div>


  <div class="container">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Editer la lecture
  </button>

  <!-- Modal -->
    <%= render partial:'lectures/shared/edit-modal', :locals => { lecture: @lecture } %>

    <div class="row">
      <div class="col-4">
        <%= link_to  lectures_path do %>
          <% @lecture.blocks.each_with_index do |block, index| %>
              <div class="card-dashboard">
                <div class="card-dashboard-infos">
                  <%= link_to "Cours numéro #{ index + 1 }", "/" %></h2>
                  <span> Type : <%= block.block_type %></span>
                </div>
              </div>
          <% end %>
        <% end %>

      </div> <!-- fin COl-4 -->
      <div class="col-6">
        <div class="mr-auto">
          <%= render partial:'blocks/new', :locals => { lecture: @lecture } %>
        </div> <!-- end of render block new -->
      </div>
    </div> <!-- end of row -->

    </div> <!-- end of container div for color -->
</div> <!-- end of background div for color -->

<!-- begining of -->
<div class="container">
<br/>
  <h2>Cours</h2>
  <% @lecture.blocks.each_with_index do |block, index| %>
    <div class="card-dashboard">
      <div class="card-dashboard-infos">
        <h2>Cours numéro <%= index + 1  %></h2>
        <span> Type : <%= block.block_type %></span>
        <p><%= block.content %></p>
        <div class="d-flex">
            <%= link_to "/" do %>
              <p class="pr-3"><i class="far fa-edit"></i></p>
            <% end %>
            <%= link_to "/", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <p><i class="far fa-trash-alt"></i></p>
            <% end %>
        </div> <!-- end of d flex -->
      </div> <!-- end of card dashboard infos -->
    </div> <!-- end of card dashboard -->
  <% end %>
</div> <!-- end of container of existing blocks -->

