
<div class="background margintop">

  <h1>Les cours disponibles</h1>
  <%= link_to  "Créer un cours", new_lecture_path, class: "btn btn-primary" %>
  <br>
  <br>
  <% ["Art", "Developpement", "Langue"].each do |categorie|  %>
    <h1>Dans la catégorie <%= categorie %>...</h1>
    <div class="card-board">
      <% @lectures.where(category: categorie).each do |lecture| %>
        <div class="card-lecture">
          <div class="card-lecture-image"

          style=
          "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(<%= lecture.photo.attached? ? cl_image_path(lecture.photo.key, crop: :fit)
          : "https://source.unsplash.com/300x150/?#{lecture.category}" %>">

          >
            <img src="https://kitt.lewagon.com/placeholder/users/ameliend" class="card-avatar avatar-bordered" />
          </div>
          <h1><%= lecture.title %></h1>
          <p><%= lecture.description %></p>
          <p>Created by <%= lecture.user.first_name %></p>
          <%= link_to "Découvrir", lecture_path(lecture), class: "btn button-invisible" %>
        </div>
      <% end %>
    </div>
    </br></br></br>
  <% end %>
</div>
