
<div class="pt-5 text-center">
        <h2>Ceci est la FICHE NEW de Lecture</h2>
        <p class="lead">Créer une lecture en tant que prof</p>
        <%# <img class="d-block mx-auto mb-4" src="https://res.cloudinary.com/cb-dev/image/upload/v1610904406/buddiest/smile-icon.png" alt="" width="72" height="72"> %>
  </div>

<h2>TEST CREATION LECTURES</h2>
<%= simple_form_for @lecture do |f| %>
  <%= f.input :title, input_html: { class: "offer-bar" } %>
  <%= f.input :description, label: "Description", as: :text, input_html: { class: "offer-bar" } %>
  <%= f.input :photo, as: :file, label: "Miniature de l'offre" %>
  <%= f.input :category, label: "Categorie de votre lecture", collection: Lecture::CATEGORY %>
  <%= f.submit "Suivant", class: "btn btn-pink mt-4" %>
<% end %>
