<div class="screen background">
  <div class="card-big-lecture">

    <h1><%= @lecture.title %></h1>

    <% if @lecture.photo.attached? %>
      <%= cl_image_tag @lecture.photo.key, class: "card-lecture-bigimage" %>
      <% else %>
      <img src="https://source.unsplash.com/800x600/?<%= @lecture.category%>" alt="" class="card-lecture-bigimage">
    <% end %>

    <div class="card-lecture-bigtext">
      <h1>La show pour la lecture intitulé <%= @lecture.title %></h1>

      <p><%= @lecture.user.first_name %></p>
      <span><%= @lecture.description %></span>
      <br>
      <p><%= @lecture.category %></p>
    </div>
    <div class="card-lecture-bigbuttons">
      <div id="card-lecture-edit">
        <%= link_to  "Retour à la l'index des lectures", lectures_path, class: "btn button-gray" %>
        <%= link_to  "Editer", edit_lecture_path(@lecture), class: "btn button-gray" %>
      </div>
      <div id="card-lecture-follow">
        <%= link_to  "Suivre ce cours", lecture_schoolings_path(@lecture), method: "POST", class: "btn button-blue" %>
      </div>
    </div>
  </div>

</div>

<div class="screen">
  <h2>BLOCK DU LECTURE</h2>

  <% @lecture.blocks.each do |block| %>
    <%= block.content %>
    <%= block.block_type %>
    <% block.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class:"card-avatar avatar-bordered" %>
    <% end %>
  <% end %>

  <div class="videobloc">
    <div class="round"></div>
    <div class="play"></div>
    <div class="play-red"></div>
  </div>

  <div class="videobloc">
    <div class="round"></div>
    <div class="play"></div>
  <div class="play-red"></div>
</div>
</div>
