
  <div>
    <% if @lecture.photo.attached? %>
      <div class="show-banner" style="background-image: url('<%= cl_image_path @lecture.photo.key %>')">
      </div>
    <% else %>
      <div class="show-banner" style="background: url("<%= 'https://source.unsplash.com/300x150/?#{lecture.category'%>")">
     <% end %>
  </div>

  <div class="show-card d-flex flex-column justify-content-between align-items-center">
    <h2><%= @lecture.title %></h2>
    <p>Ce cours est proposé par <strong> <%= @lecture.user.first_name %> </strong></p>
    <p><%= @lecture.description %></p>
    <div class="card-lecture-bigbuttons">
            <!--   <%= link_to  "Retour à la l'index des lectures", lectures_path, class: "btn button-gray mr-2" %>-->
      <%if (@lecture.user_id == current_user.id) %>
        <%= link_to  "Editer", manage_courses_path(), class: "btn button-gray mr-2" %>
      <% end %>
      <%if (@lecture.user_id != current_user.id) %>
        <% if Schooling.where(user: current_user).where(lecture: @lecture).exists? %>
       <!--    <%= link_to  "Ne plus suivre ce cours", lecture_schoolings_path(@lecture), method: :delete, class: "btn button-blue" %> -->
         <p>Cours suivi !</p>
        <% else %>
          <%= link_to  "Suivre ce cours", lecture_schoolings_path(@lecture), method: "POST", class: "btn button-blue" %>
        <% end %>
      <%end %>
    </div>
  </div>


<% if (Schooling.where(user: current_user).where(lecture: @lecture).exists?) || (@lecture.user_id == current_user.id) %>

<div class="container">
  <h2 class="mt-4">Chapitres disponibles</h2>

  <div class="bloc-displayer">

    <% @lecture.blocks.each_with_index do |block, index| %>

    <%= render partial:'lectures/shared/show-modal', :locals => { block: block, index: index } %>


      <div class="bloc">
      <!-- Début d'un bloc -->
        <h4>Chapitre <%= index + 1 %></h4>
        <p><%= block.title %></p>
        <% if block.block_type == "Video" %>
          <em>Ce chapitre est une vidéo</em>

          <% if block.photos.attached? %>

          <div class="videobloc" style="margin: 45px auto;" type="button" data-toggle="modal" data-target="#blockmodal<%= index %>">
            <% block.photos.each do |video| %>
              <%= cl_video_thumbnail_tag video.key, crop: :fill, class: "videocl" %>
            <% end %>
            <div class="round"></div>
            <div class="play"></div>
            <div class="play-red"></div>
          </div>

          <% else %>
            <div class="videobloc" style="margin: 45px auto;" type="button" data-toggle="modal" data-target="#blockmodal<%= index %>">
            <img style="opacity: 0.1;" src="https://source.unsplash.com/250x180/?video"/ class="videocl">
              <div class="round"></div>
              <div class="play"></div>
              <div class="play-red"></div>
            </div>

          <% end %>
        <% elsif block.block_type == "Text"%>
          <em>Ce chapitre est un texte</em>
          <div class="videobloc" style="margin: 45px auto;" type="button" data-toggle="modal" data-target="#blockmodal<%= index %>">
            <div class="round"></div>
            <p class="podcast mx-auto"><i class="fas fa-file-alt"></i></p>
          </div>
        <% elsif block.block_type == "Podcast"%>
          <em>Ce chapitre est un podcast</em>
          <div class="videobloc" style="margin: 45px auto;" type="button" data-toggle="modal" data-target="#blockmodal<%= index %>">
            <div class="round"></div>
            <p class="podcast mx-auto"><i class="fas fa-podcast"></i></p>
          </div>
        <% else %>
          <em>Ce chapitre est un <%= block.block_type %></em>
          <div class="videobloc" style="margin: 45px auto;"></div>
          <div class="round"></div>
          <p class="podcast mx-auto"><i class="fas fa-file-alt"></i></p>
        <% end %>

    </div>
    <% end %> <!-- fin de mon bloc -->
  </div>
</div>

<% end %>



<<!-- div class="header pt-3 mt-3">

  <div>

    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div> -->
  <!--Waves end-->

</div>
