
            <h1>AJOUTER DU CONTENU A VOTRE COURS</h1>
              <div class="form-group">
                <%= simple_form_for [@lecture, @block] do |f| %>
                  <%= f.input :block_type, label: "Categorie de votre lecture", collection: Block::BLOCK_TYPE %>
                  <%= f.input :photos, as: :file, label: "ajouter des médias a la lecture", input_html: { multiple: true } %>


                  <div class="field">
                    <%= f.label :content %>
                    <%= f.rich_text_area :content %>
                  </div>
                  <%= f.submit "Ajouter ce block", class: "btn button-pink mt-4" %>
                <% end %>
              </div> <!-- fin form simple form -->


