
<div class="form-group">
  <%= simple_form_for [@lecture, @block] do |f| %>
    <%= f.input :title, label: "Titre de votre cours" %>
    <%= f.input :block_type, label: "Categorie de votre lecture", collection: Block::BLOCK_TYPE %>
    <%= f.input :photos, as: :file, label: "Ajouter des médias a la lecture", input_html: { multiple: true } %>


    <div class="field">
      <%= f.label :content %>
      <%= f.rich_text_area :content %>
    </div>

  <% end %>

</div> <!-- fin form simple form -->
