
<div style="height: 100vh;">
  <div class="teacher">
    <h1 class='not-a'>Mettez en avant vos connaissances</h1>
    <%= link_to  "Gagnez de l'argent", '#', class: "btn button-blue" %>
  </div>
  <div class="student">
    <h1>Apprenez simplement</h1>
    <%= link_to  "Devenez intelligent", '/lectures', class: "btn button-gray" %>
  </div>
</div>


<div class="theme_backgroundxs d-flex justify-content-center align-items-center">
  <p style="width: 700px;">Dévelopez vos compétences avec Fink </br>
  Il existe tellement de sources de contenu pour se former, retrouvez le contenu exclusif des experts que vous suivez sur vos réseaux et ne gardez que le meilleur.</p>
</div>


<div>
  <h2 class="mx-auto py-4" style="width: 200px;">Nos abonnements</h2>
  <div class="d-flex justify-content-center">
    <div class="card-lecture mb-5 mr-5">
      <div class="card-lecture-image" style= "background: linear-gradient(60deg, rgba(93, 87, 107, 0.5) 0%, rgba(0, 175, 181, 0.5) 100%);">
        <h2 class="text-center pt-3 pl-3">Basic</h2>
        <h3 class="text-center pt-2 pl-3">7,99€ par mois</h3>
        </div>
        <div class="mt-4 px-3">
          <p><i class="fas fa-check"></i> 1500 contenus audios et écrits en illimité </p>
          <p class="py-2"><i class="fas fa-check"></i> + 100 formations </p>
          <p><i class="fas fa-times"></i> Slack privé avec les professeurs </p>
          <p class="mx-auto" style="width: 130px;"><%= link_to  "S'inscrire", '#', class: "btn button-red" %></p>
        </div>
    </div>

    <div class="card-lecture ml-5">
        <div class="card-lecture-image" style= "background: linear-gradient(60deg, rgba(93, 87, 107, 0.5) 0%, rgba(0, 175, 181, 0.5) 100%);">
          <h2 class="text-center pt-3 pl-3">Premium</h2>
          <h3 class="text-center pt-2 pl-3">10,99€ par mois</h3>
        </div>
        <div class="mt-4 px-3">
          <p><i class="fas fa-check"></i> 1500 contenus audios et écrits en illimité </p>
          <p class="py-2"><i class="fas fa-check"></i> + 100 formations </p>
          <p><i class="fas fa-check"></i> Slack privé avec les professeurs </p>
          <p class="mx-auto" style="width: 130px;"><%= link_to  "S'inscrire", '#', class: "btn button-red" %></p>

        </div>
      </div>
  </div>

</div>


<div class="theme_backgroundxs d-flex justify-content-around align-items-center">
  <p>500 000+ </br> Utilisateurs</p>
  <p>30 </br> Contenus ajoutés par mois</p>
  <p>1500 </br> Contenus disponibles</p>
</div>

<div>
  <h2 class="mx-auto py-5" style="width: 200px;" >Les thématiques</h2>
  <div class="d-flex justify-content-around pb-5">
    <%= image_tag "music.png", width: 150%>
    <%= image_tag "art.png", width: 150%>
    <%= image_tag "code.png", width: 150%>
    <%= image_tag "cook.png", width: 150%>
    <%= image_tag "language.png", width: 150%>
  </div>
</div>


<div class="header">

<!--Content before waves-->
    <h2 class="py-5">Découvrez nos cours</h2>
    <a href="#" class="btn button-red mb-3">Découvrir</a>


  <div class=" d-flex justify-content-center">

    <div class="card-lecture">
        <div class="card-lecture-image" style="background-image: url('https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80')">
        <img src="https://kitt.lewagon.com/placeholder/users/Schwaips" class="card-avatar avatar-bordered" />
      </div>
      <h1>Web Development</h1>
      <p class="pt-3">Retrouvez ici tous les cours en web development proposés par Charlie</p>
    </div>

    <div class="card-lecture mx-5">
      <div class="card-lecture-image" style="background-image: url('https://images.unsplash.com/photo-1517697471339-4aa32003c11a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80')">
        <img src="https://kitt.lewagon.com/placeholder/users/ameliend" class="card-avatar avatar-bordered" />
      </div>
      <h1>Art</h1>
      <p class="pt-3">Retrouvez ici tous les cours d'art proposés par Amélien</p>
    </div>

    <div class="card-lecture">
      <div class="card-lecture-image" style="background-image: url('https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80')">
        <img src="https://kitt.lewagon.com/placeholder/users/olhll" class="card-avatar avatar-bordered" />
      </div>
      <h1>Musique</h1>
      <p class="pt-3">Retrouvez ici tous les cours de musique proposés par Olivia</p>
    </div>
  </div>

<!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
<!--Waves end-->

</div>
<%= render 'shared/footer' %>





<!-- VOILA LES BOUTONS -->


