<div class="modal fade" id="editBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBlock">Modifieeeeer <#%= @block.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <%= simple_form_for [lecture, block] do |f| %>
            <%= f.input :title, label: "Titre de votre chapitre" %>
            <%= f.input :block_type, label: "Type de média", collection: Block::BLOCK_TYPE %>
            <%= f.input :photos, as: :file, label: "Ajouter des médias a la lecture", input_html: { multiple: true } %>
            <div class="field">
              <%= f.label :content %>
              <%= f.rich_text_area :content %>
            </div>
            <%= f.submit "Sauvegarder les changements", class: "btn button-gray mt-4" %>
          <% end %>
        </div> <!-- fin form simple form -->

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
